*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.layout {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
}

.layout td {
    padding: 0;
    border: 15px solid white;
}

.sidebar {
    width: 250px;
    text-align: center;
    vertical-align: top;
}

.sidebar.left { 
    background-color: #ffcbe1;
}

.sidebar.right {
    background-color: #ffdab4;
}

.sidebar-title {
    font-family: "DynaPuff", cursive;
    font-size: 36px;
    color: white;
    padding: 14px 0;
    margin: 0;
    width: 100%;
}

.sidebar-title.left {
    background-color: #ff97c3;
}

.sidebar-title.right {
    background-color: #ffc080;
}

.status-box {
    font-family: "DynaPuff", cursive;
    font-size: 30px;
    background-color: #ff97c3;
    color: white;
    padding: 14px 0;
    margin: 75px auto 0 auto;
    border-radius: 8px;
    width: 80%;
}

button {
    font-family: "DynaPuff", cursive;
    font-size: 30px;
    padding: 14px 0;
    margin: 75px auto 0 auto;
    border: none;
    border-radius: 8px;
    background-color: #ffc080;
    color: white;
    cursor: pointer;
    width: 80%;
}

.pet-cell {
    height: 100%;
}

.pet-room {
    position: relative;
    width: 100%;
    height: 100%;
}

#pet-name {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "DynaPuff", cursive;
    font-size: 60px;
    color: #459d81;
    text-align: center;
    width: 80%;
    border: none;
    outline: none;
    background: transparent;
    margin: 0;
    padding: 0;
}

#pet-name::placeholder {
    color: #5eb89b;
    opacity: 0.35;
}

.wall {
    height: 50%;
    background-color: #d6eadf;
    position: relative;
}

.floor {
    height: 50%;
    background-color: #a6d8c7;
}

.dog {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50vh;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.dog.idle {
    background-image: url("assets/dog-idle.png");
    bottom: 20%;
}

.dog.sad {
    background-image: url("assets/dog-sad.png");
    width: 43vh;
    height: 43vh;
    bottom: 20%;
}

.dog.playing {
    background-image: url("assets/dog-playing.png");
    width: 58vh;
    height: 58vh;
    bottom: 17%;
}

.dog.hungry {
    background-image: url("assets/dog-hungry.png");
    width: 46vh;
    height: 46vh;
    bottom: 20%;
}

.dog.eating {
    background-image: url("assets/dog-eating.png");
    width: 72vh;
    height: 72vh;
    bottom: 3%;
}

.dog.sleepy {
    background-image: url("assets/dog-sleepy.png");
    width: 48vh;
    height: 48vh;
    bottom: 15%;
}

.dog.sleeping {
    background-image: url("assets/dog-sleeping.png");
    width: 62vh;
    height: 62vh;
    bottom: 8%;
}
