html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.pet-room {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.wall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #d6eadf;
    z-index: 1;
}

.floor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #b8e0d2;
    z-index: 3;
}

.dog {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    width: 50vh;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 4;
}

/* Please tell me why I did this to myself */
/* These numbers literally took forever */
/* Please tell me to stop doing stuff like this lmao */
.dog.idle {
    background-image: url("assets/dog-idle.png");
}

.dog.playful {
    background-image: url("assets/dog-playful.png");
    width: 48vh;
    height: 48vh;
    bottom: 15%;
}

.dog.playing {
    background-image: url("assets/dog-playing.png");
    width: 58vh;
    height: 58vh;
    bottom: 18%;
}

.dog.sleeping {
    background-image: url("assets/dog-sleeping.png");
    width: 62vh;
    height: 62vh;
    bottom: 10%;
}

.dog.hungry {
    background-image: url("assets/dog-hungry.png");
    width: 46vh;
    height: 46vh;
}

.dog.eating {
    background-image: url("assets/dog-eating.png");
    width: 72vh;
    height: 72vh;
    bottom: 5%;
}

.dog.sad {
    background-image: url("assets/dog-sad.png");
    width: 43vh;
    height: 43vh;
}