.pet-room {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.wall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #d6eadf;
    z-index: 1;
}

.floor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #b8e0d2;
    z-index: 3;
}

.dog {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    width: 50vh;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 4;
}

/* Please tell me why I did this to myself */
.dog.idle {
    background-image: url("assets/dog-idle.png");
}

.dog.playful {
    background-image: url("assets/dog-playful.png");
}

.dog.playing {
    background-image: url("assets/dog-playing.png");
}

.dog.sleeping {
    background-image: url("assets/dog-sleeping.png");
}

.dog.hungry {
    background-image: url("assets/dog-hungry.png");
}

.dog.eating {
    background-image: url("assets/dog-eating.png");
}

.dog.sad {
    background-image: url("assets/dog-sad.png");
}